<a href="https://colab.research.google.com/github/PinnaSaiVarun/saivarun_INFO5731_-Fall2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [6]:
# write your answer here
str = "python"
print(len(str))

6

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [1]:
# write your answer here
import pandas as pd
str = "googleclob"
pd.Series(list(str)).value_counts()

o    3
g    2
l    2
b    1
e    1
c    1
dtype: int64

(3) Write a Python program to sum all the items in a list. (4 points)

In [7]:
# write your answer here
input = [1,8,3,4,5]
sum(input)

21

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [6]:
# write your answer here
def char(str):
  char = str[0]
  str = str.replace(char,'$')
  str = char+str[1:]
  return str
print(char('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [1]:
# write your answer here
a = 3
b = 4
s = 3.14*pow((1+(a/b)),3)
print(s)

16.8284375

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [18]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [41]:
# write your answer here
str = "enter a string :"
tuple = ("apple", "banana", "cherry", "apple", "cherry")
for item in tuple:
    if(str==item):
        print("yes")

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [47]:
# write your answer here
def MAX(sets): 
    return (max(sets))
def MIN(sets):
    return (min(sets))

sets = set([73, 7, 10, 29, 32, 18, 12, 6, 97])
print(MAX(sets))
print(MIN(sets))

97
6

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [2]:
# write your answer here
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']
n = 6
output = [studnet_list[i * n:(i + 1) * n] for i in range((len(studnet_list) + n - 1) // n )] 
print (output)

[['vmb0067', 'pc0353', 'snd0097', 'yye0005', 'sg0940', 'bk0301'], ['rak0120', 'rrk0058', 'spk0057', 'vl0135', 'nm0547', 'pn0159'], ['msp0174', 'dd0420', 'ds0761', 'rs0850', 'ss1995', 'at0739'], ['at0768', 'mv0299', 'tv0119', 'dy0091', 'py0080', 'ttp0037'], ['hc0439', 'ri0094', 'pk0339', 'hn0145', 'mn0426']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [7]:
# write your answer here
def Remove(duplicate):
    list = [2, 4, 10, 20, 5, 2, 20, 4]
    for num in duplicate:
        if num not in list:
            list.append(num)
    return list

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here